<a href="https://colab.research.google.com/github/SameerGhodake/Assignments/blob/main/Sameer_Ghodake_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A= int(input(f"Enter the value of A: "))
B= int(input(f"Enter the value of B: "))
print(f"Sum of A & B is : {A+B}")
print(f"Minus of A & B is : {A-B}")
print(f"Multi of A & B is : {A*B}")
print(f"Div of A & B is : {A/B}")

Enter the value of A: 2
Enter the value of B: 3
Sum of A & B is : 5
Minus of A & B is : -1
Multi of A & B is : 6
Div of A & B is : 0.6666666666666666

In [ ]:
name=input("First Name: ")
surname=input("Last Name: ")
print(f"{name}.{surname}@gmail.com")

First Name: aa
Last Name: bb
aa.bb@gmail.com

In [ ]:
print("Hi I'm Sunny")

Hi I'm Sunny

In [ ]:
print("My Address Is 22/3")

My Address Is 22/3

In [ ]:
print("I earned 20$ daily")

I earned 20$ daily

In [ ]:
name=input("First Name: ")
surname=input("Last Name: ")
Birth_date=input("Birth Date is :")
print(f"{name}.{surname}@gmail.com")

First Name: uu
Last Name: ii
Birth Date is :28091990
uu.ii@gmail.com

In [ ]:
a=22.4
print(f"data type before: {type(a)}, value of a is : {a}")
a=int(a)
print(f"data type after: {type(a)}, value of a is : {a}")

data type before: <class 'float'>, value of a is : 22.4
data type after: <class 'int'>, value of a is : 22